services:
  ocr-service:
    build: .
    container_name: ocr-service
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - ${FILE_DIR}:/app/uploads
    restart: unless-stopped
